extends /layout/_application

block content
  h1 Carousel
  .carousel
    button.carousel__prev.js-prev <
    button.carousel__next.js-next >
    .carousel__items-wrap
      ul.carousel__items.js-carousel-items
        li.carousel__item.js-item 0
        li.carousel__item.js-item 1
        li.carousel__item.js-item 2
        li.carousel__item.js-item 3
        li.carousel__item.js-item 4
        li.carousel__item.js-item 5
